<a href="https://colab.research.google.com/github/nithish1901/sirpi_assignments/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Types of Variables Question: Write a Python program that defines three types of variables:
A string variable to store your name.
An integer variable to store your age.
A float variable to store your height in meters. Print these variables along with their types using the type() function.

In [ ]:
name = "Nithish"
age = 24
height = 172
print(name,type(name),age,type(age),height,type(height))

Nithish <class 'str'> 24 <class 'int'> 172 <class 'int'>

Lists Question: Create a list of five fruits (["apple", "banana", "cherry", "date", "elderberry"]):
Print the first and last fruit from the list.
Add a new fruit to the end of the list.
Remove the second fruit from the list.
Sort the list in alphabetical order and print it

In [ ]:
fruitslist=['apple','banana','cherry','date','elderberry']
print(fruitslist[0],fruitslist[4])
fruitslist.append('fig')
fruitslist.pop(1)
fruitslist.sort()
print(fruitslist)

apple elderberry
['apple', 'cherry', 'date', 'elderberry', 'fig']

3. Tuples
Question:
Create a tuple to store the names of three programming languages ("Python", "Java", "C++"):
 1. Access the second language in the tuple.
 2.Try to replace the second language with "JavaScript". What happens?
 3. Convert the tuple to a list, make the modification, and convert it back to a tuple.

3. Tuples
Question:
Create a tuple to store the names of three programming languages ("Python", "Java", "C++"):
 1. Access the second language in the tuple.
 2.Try to replace the second language with "JavaScript". What happens?
 3. Convert the tuple to a list, make the modification, and convert it back to a tuple.

In [ ]:
lang=("Python", "Java", "C++")
print(lang[1])
lang=list(lang)
lang[1]="javascript"
lang=tuple(lang)
print(lang)

Java
('Python', 'javascript', 'C++')

4. Data Dictionary - Basics
Question:
Create a dictionary with the following student details:
•	name: "John"
•	age: 18
•	grade: "A"
 1. Access and print the value of grade.
 2.Add a new key-value pair for hobby with the value "reading".
 3.Delete the age key from the dictionary.

In [ ]:
details={"name":"John","age":18,"grade":"A"}
print(details["grade"])
details["hobby"]="reading"
details.pop("age")
print(details)

A
{'name': 'John', 'grade': 'A', 'hobby': 'reading'}

In [ ]:
marks = {"Math": 85, "Science": 90, "English": 78}
total_marks = sum(marks.values())
average=total_marks/len(marks)
print(average)
marks['maths']=88
print(marks)
a=False
for i in marks:
  if (i=="History"):
   a=True
if(a):
  print("History is present")
else:
  print("History is not present")

84.33333333333333
{'Math': 85, 'Science': 90, 'English': 78, 'maths': 88}
History is not present

Functions - Basics Question: Write a Python function named square that takes an integer as input and returns its square. • Call the function with the value 7 and print the result.

In [ ]:
def square(num):
  a=num**2
  return a
num=int(input("Enter the number"))
print(square(num))

Enter the number3
9

8. Functions - Positional and Keyword Arguments
Question:
Write a Python function named student_info that accepts the following parameters:
•	name (string)
•	age (integer)
•	grade (string, default value is "A")
Call the function with:
  1.	Positional arguments only.
  2.	Keyword arguments only.
Print the result in each case.

In [ ]:
def student_info(name="Nithish",age=24,grade="A"):
  print(name,age,grade)
student_info('nit',24)
student_info(name="nit",age=24,grade='B')

nit 24 A
nit 24 B

Lists and Functions Question: Write a Python program with the following requirements: a) Create a list of numbers: [10, 20, 30, 40, 50]. b) Define a function named double_values that takes a list as input and returns a new list with each value doubled. c) Pass the list to the function and print the returned list.

In [ ]:
list=[10, 20, 30, 40, 50]
def double_values(list):
  for i in list:
    print(i*2)
double_values(list)

20
40
60
80
100

In [ ]:
def double_values(c):
  list1=c*2
  print(list1)
double_values([10, 20, 30, 40, 50])

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [ ]:
students = {"Alice": 85,"Bob":78,"Eve": 92}
def add_student(students,name,grade):
  students[name]=grade
  print(students)
add_student(students,"David",88)
def average_grade(students):
  total=sum(students.values())
  average=total/len(students)
  print(average)
average_grade(students)

{'Alice': 85, 'Bob': 78, 'Eve': 92, 'David': 88}
85.75

10. Combining Data Dictionary and Functions
Question:
Create a dictionary named students to store the names and grades of three students:
students = {"Alice": 85, "Bob": 78, "Eve": 92}
a) Write a function named add_student that accepts a dictionary, a student name, and a grade, then adds the student to the dictionary.
b) Write another function named average_grade that calculates the average grade of all students in the dictionary.
Call the functions to:
  1.	Add a new student ("David": 88).
  2.	Calculate and print the average grade